.loading {
  text-align: center;
  padding: 20px;
  color: #6593cc;
  font-size: 150%;
}

@media screen and (hover: none) and (pointer: coarse) and (max-width: 1200px) and (max-height: 2670px),
screen and (hover: none) and (pointer: coarse) and (max-width: 2670px) and (max-height: 1200px) {
  .loading {
    padding: 14px;
    font-size: 11px;
  }
}
